<% content_for :title do %>About Us
<% end %>
<% content_for :description do %>Description
<% end %>


<div class="full_page_photo" id="aboutus_image">
  <div class="container">
    <section class="call_to_action">
      <h3 class="animated bounceInDown">Impact. Strategy. Change Agents.</h3>
      <h4 class="animated bounceInUp">Professional Catalysts: That is <strong>who we are</strong> and
        <strong>what we do</strong>.</h4>
    </section>
  </div>
</div>
<div id="subpage_main">
  <div class="container">
    <section id="about_us">
      <div class="hgroup">
        <h1>About us</h1>

        <h2>With over twenty years of talent management and development, strategic consulting, and leadership
          identification and placement, proCATALYST is the answer to your strategic hiring and planning needs. Our
          commitment to our partners and clients is simple: long term success is our sole priority.
        </h2>
        <ul class="breadcrumb pull-right">
          <li><%= link_to "Home", root_path %>
            <span class="divider">/</span></li>
          <li class="active">About us</li>
        </ul>
      </div>
      <article>
        <div class="row">
          <div class="span8">
            <p>The proCATALYST Group is an executive talent agency and strategic consulting ﬁrm headquartered in Denver
              Colorado with clients spanning the globe. Our team is comprised of seasoned professionals with diverse
              industry experience. Despite our various backgrounds and areas of expertise, all proCATALYST personnel
              work and live within our core values. We are committed to investing in and developing creative solutions
              that are inline with our client’s long-term career success. By building and maintaining value-add long
              term relationships, our impact and involvement extends far beyond the end of any individual engagement. We
              are dedicated to the success of our partners and the career advancement and long-term professional
              development of our proCATALYST clients..</p>

            <p>Our track record of locating and securing top technology, IT, management and leadership talent is what
              has set us apart from our competitors. If you are looking for individuals that can make an immediate
              impact and help take your organization to the next level, you owe it to yourself to discuss how
              proCATALYST can be of assistance. Talent Management Services</p>
          </div>
          <div class="span4">
            <blockquote>
              <p>Talent Management Services</p>
              <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>1 on 1 Career Coaching</li>
                <li><i class="icon-li icon-ok"></i>Team Creation/Acquisition</li>
                <li><i class="icon-li icon-ok"></i>Executive Retained Search</li>
              </ul>
              <p>Business Consulting Services</p>
              <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>Strategic Planning</li>
                <li><i class="icon-li icon-ok"></i>Technology Strategy</li>
                <li><i class="icon-li icon-ok"></i>Project Management</li>
                <li><i class="icon-li icon-ok"></i>Software Development</li>
              </ul>
            </blockquote>
          </div>
        </div>
      </article>
    </section>
  </div>

</div>

