<% content_for :title do %>About Us<% end %>
<% content_for :description do %>Description<% end %>


<div class="full_page_photo" id="aboutus_image">
    <div class="container">
      <section class="call_to_action">
        <h3 class="animated bounceInDown">we really <strong>love</strong> what we do</h3>
        <h4 class="animated bounceInUp">while <strong>always</strong> getting the job done!</h4>
      </section>
    </div>
  </div>
  <div id="subpage_main">
    <div class="container">
      <section id="about_us">
        <div class="hgroup">
          <h1>About us</h1>

          <h2>With over twenty years of talent management, strategic consulting, and leadership identification and
            placement, proCATALYST is the answer to your strategic hiring and planning needs. Our commitment to our
            catalyst partners and clients is simple: <strong>their long term success is our sole priority</strong>.
          </h2>
          <ul class="breadcrumb pull-right">
            <li><%= link_to "Home", root_path %>
              <span class="divider">/</span></li>
            <li class="active">About us</li>
          </ul>
        </div>
        <article>
          <div class="row">
            <div class="span8">
              <p>proCATALYST Group is an executive talent agency and strategic consulting firm headquartered
                in Denver and with operations in major metropolitan areas. Our talented team comprises
                seasoned professionals with diverse industry experience, yet we all share the same
                commitment: a deep investment and creative engagement in our client’s long-term career
                success. As such, we are solely dedicated to the career advancement and long-term professional
                development of our catalyst partners. </p>

              <p>The proCATALYST Group has been in the business of locating and securing top technology, IT,
                management and leadership talent for the past 20 years.  If you are looking for individuals
                that can make an immediate impact and help take your organization to the next level, you owe
                it to yourself to partner with proCATALYST Group.
              </p>
            </div>
            <div class="span4">
              <blockquote>
                <p>Talent Management Services</p>
                <ul class="icons-ul">
                  <li><i class="icon-li icon-ok"></i>1 on 1 Career Coaching</li>
                  <li><i class="icon-li icon-ok"></i>1 to Many Team Acquisition</li>
                  <li><i class="icon-li icon-ok"></i>Executive Retained Search</li>
                </ul>
                <p>Business Consulting Services</p>
                <ul class="icons-ul">
                  <li><i class="icon-li icon-ok"></i>Technology Planning</li>
                  <li><i class="icon-li icon-ok"></i>Project Management</li>
                  <li><i class="icon-li icon-ok"></i>Software Development</li>
                </ul>
              </blockquote>
            </div>
          </div>
        </article>
      </section>
    </div>

  </div>

