<% content_for :title do %>Catalyst Program
<% end %>
<% content_for :description do %>Description
<% end %>


<div class="full_page_photo" id="catalyst_image">
  <div class="container">
    <section class="call_to_action">
      <h3 class="animated bounceInDown"><strong>your</strong> success is <strong>our</strong> success</h3>
      <h4 class="animated bounceInUp">that is our <strong>commitment</strong> and only <strong>measure</strong>!</h4>
    </section>
  </div>
</div>
<div id="subpage_main">
  <div class="container">
    <section id="about_us">
      <div class="hgroup">
        <h1>Catalyst Program</h1>

        <h2>With over twenty years of talent management, strategic consulting, and leadership identification and
          placement, proCATALYST is the answer to your strategic hiring and planning needs. Our commitment to our
          catalyst partners and clients is simple: <strong>their long term success is our sole priority</strong>.
        </h2>
        <ul class="breadcrumb pull-right">
          <li><%= link_to "Home", root_path %>
            <span class="divider">/</span></li>
          <li class="active">Catalyst Program</li>
        </ul>
      </div>
      <article>
        <div class="row">
          <div class="span8">
            <p>The proCATALYST group are experts in the areas of of talent management, strategic consulting, and
              leadership identification and placement. proCATALYST is the answer to your strategic hiring and planning
              needs. Our commitment to our partners and clients is simple: long term success is our sole priority.</p>

            <p>Let’s be clear, proCATALYST does not operate with “The numbers game” mentality. Our exclusive group of
              candidates are rigorously evaluated and categorized long before we ever introduce them to a partner. With
              our time tested process we can insure that only Professional-Catalysts, are walking through your door. Our
              process allows us to be selective as to whom we chose to work with so we can best meet our partners
              specific needs without wasting any valuable time. Our post-placement follow up and development opportunity
              are unparalleled and position both the client and the partner for long term success.
            </p>

            <p>We are constantly asked, “How can you do this?” Well, it isn't easy, but by following our process and
              choosing to only work with a specific caliber of individual, we have built a program centered around the
              quality and the impactfulness of the individual. The people we work with are the Professional-Catalysts
              who can, have and will take divisions, organizations, and companies from good to great.</p>

            <p>Whether it be a senior role IT role, an Operational or Management Leadership position or any other
              strategic need within your company, you owe it to your organization to bring in the best talent, and that
              is who we specialize in identifying, working with and placing. Call us today to get started.</p>
          </div>
          <div class="span4">
            <blockquote>
              <p>Talent Management Services</p>
              <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>1 on 1 Career Coaching</li>
                <li><i class="icon-li icon-ok"></i>Team Creation/Acquisition</li>
                <li><i class="icon-li icon-ok"></i>Executive Retained Search</li>
              </ul>
              <p>Business Consulting Services</p>
              <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>Strategic Planning</li>
                <li><i class="icon-li icon-ok"></i>Technology Strategy</li>
                <li><i class="icon-li icon-ok"></i>Project Management</li>
                <li><i class="icon-li icon-ok"></i>Software Development</li>
              </ul>
            </blockquote>
          </div>
        </div>
      </article>
    </section>
  </div>

</div>

