<% content_for :title do %>Impact Players Wanted<% end %>
<% content_for :description do %>proCATALYST is a Denver based executive search firm locating and placing impact players.<% end %>

<section id="slider_wrapper">
  <div id="main_flexslider" class="flexslider">
    <ul class="slides">
      <li class="item" id="index_slide1">
        <div class="container">
          <div class="carousel-caption">
            <h1><strong>catalyst</strong>
              <small>[<strong>cat</strong>·a·lyst]</small>
            </h1>
            <p class="lead inverse"><em><strong>noun</strong></em> a person who initiates change or
              accelerates action to make<br>
              the organization's vision and strategies achievable in the future.</p>
          </div>
        </div>
      </li>
      <li class="item" id="index_slide2">
        <div class="container">
          <div class="carousel-caption">
            <h1><strong>change agent</strong>
              <small>[cheynj <strong>ey</strong>·juh·nt]</small>
            </h1>
            <p class="lead inverse"><em><strong>noun</strong></em> a leader who finds what is not working
              and solves the problem by changing the system,<br>
              spreading the solution and persuading others to move in a new direction.</p>
          </div>
        </div>
      </li>
      <li class="item" id="index_slide3">
        <div class="container">
          <div class="carousel-caption">
            <h1 class="inverse"><strong>impact player</strong>
              <small>[<strong>em</strong>·pakt <strong>pley</strong>·er]</small>
            </h1>
            <p class="lead"><em><strong>noun</strong></em> a person whose contribution has such
              repercussions that the<br>
              consequences are felt far beyond its intended or original purpose or target.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<div id="main">
  <%= render 'shared/flash_messages' %>
  <div class="container">
    <section class="call_to_action">
      <h3>focus on your dream job</h3>
      <h4>and let us bring it to reality</h4>
      <%= link_to "Sign up for a free impact player evaluation!", new_catalyst_path, :class => "btn btn-primary btn-large" %>
    </section>
    <section id="features_teasers_wrapper">
      <div class="row">
        <div class="span4 feature_teaser"><i class="icon icon-compass icon-6x"></i>

          <h3>Build a career roadmap, not just a job search...</h3>

          <p>Our highly collaborative process is successful because we align your strengths and career goals while also
            integrating your passions and interests. We create a personalized plan that provides you
            a customized and well-defined career roadmap. Our goal is the long term. Yours should be too.</p>
        </div>
        <div class="span4 feature_teaser"><i class="icon icon-group icon-6x"></i>

          <h3>Engage the proCATALYST Network</h3>

          <p>The proCatalyst network is unsurpassed. Our relationships and constant contact with top business leaders
            and professionals spans across industries. As a result, you gain access to their expertise, insight, and more
            importantly, direct contact with the people that make the decisions.</p>
        </div>
        <div class="span4 feature_teaser"><i class="icon icon-dashboard icon-6x"></i>

          <h3>Long-term Career Coaching = Success</h3>

          <p>Our services do not stop once we secure your new position. Instead, you become part of the proCATALYST
            alumni network where you gain access to quarterly career coaching sessions, training opportunities,
          mentoring programs and invites to proCATALYST events. We position you for long-term success.</p>
        </div>
      </div>
    </section>
  </div>

  <!-- MODAL Catalyst Sign Up -->
  <div id="signup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signup_label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" id="signup_close" class="close" data-dismiss="modal" aria-hidden="true">
        <%= image_tag("halflings_circle_remove.png") %>
      </button>
      <legend id="signup_label"><i class="icon icon-edit"></i> Sign Up For Your Free Impact Player Evaluation</legend>
    </div>

    <div class="modal-body">
      <form class="form-horizontal" id="signup_body">
        <div class="control-group">
          <label id="signup_msgbox" class="alert alert-error hide"></label>
        </div>

        <div class="control-group">
          <label class="control-label" for="signup_first_name">First Name<span
          class="required-field">*</span></label>

          <div class="controls">
            <input type="text" class="span3" id="signup_first_name" required name="signup_first_name"
                   maxlength="100" placeholder="First Name"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signup_first_name">Last Name<span
          class="required-field">*</span></label>

          <div class="controls">
            <input type="text" class="span3" id="signup_last_name" required name="signup_last_name"
                   maxlength="100" placeholder="Last Name"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signup_email">Email<span class="required-field">*</span></label>

          <div class="controls">
            <input type="email" class="span3" id="signup_email" required name="signup_email" maxlength="100"
                   placeholder="Please enter your email address."/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signup_phone">Phone</label>

          <div class="controls">
            <input type="text" class="span3" id="signup_phone" name="signup_phone" maxlength="20"
                   placeholder="Phone Number"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signup_city">City</label>

          <div class="controls">
            <input type="text" class="span3" id="signup_city" name="signup_city" maxlength="40"
                   placeholder="Where are you located?"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signup_linkedin">LinkedIn Profile</label>

          <div class="controls">
            <input type="url" class="span3" id="signup_linkedin" name="signup_linkedin" maxlength="100"
                   placeholder="LinkedIn Profile URL"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="signup_website">Personal Website</label>

          <div class="controls">
            <input type="url" class="span3" id="signup_website" name="signup_website" maxlength="100"
                   placeholder="URL to your personal website"/>
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="signup_comments">Comments<br/>
            <small>(500 character limit)</small>
          </label>

          <div class="controls">
            <textarea rows="4" class="span3" id="signup_comments" name="signup_comments" maxlength="500"
                      placeholder="Tell us briefly about yourself and what you are looking for in your next career."></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" id="signup_save">Sign Up</button>
    </div>
  </div>
  <!-- END MODAL Sign UP -->
</div>