<% content_for :title do %>Talent Scouting
<% end %>
<% content_for :description do %>Description
<% end %>


<div class="full_page_photo" id="talent_image">
  <div class="container">
    <section class="call_to_action">
      <h3 class="animated bounceInDown">When everyone starts <strong>looking the same</strong></h3>
      <h4 class="animated bounceInUp">We <strong>help you</strong> identify <strong>talent that stands out</strong></h4>
    </section>
  </div>
</div>
<div id="subpage_main">
  <div class="container">
    <section id="about_us">
      <div class="hgroup">
        <h1>Talent Identification and Development Services</h1>

        <h2>The proCATALYST group are expert executive and strategic hiring professionals. Our rigorous vetting
          process, industry expertise and network of connections allow us access to the best and brightest. From the
          seasoned veteran to the up-and-coming diamond in the rough, we know who they are and the impact they can bring
          to your organization.
        </h2>
        <ul class="breadcrumb pull-right">
          <li><%= link_to "Home", root_path %>
            <span class="divider">/</span></li>
          <li class="active">Talent scouting</li>
        </ul>
      </div>
      <article>
        <div class="row">
          <div class="span8">
            <p>How do we do it? The proCATALYST group has been able to differentiate itself through the utilization of a
              unique and proven hiring, screening, and development process. Because of this approach and our exclusive
              talent pool, we are able to ensure an extremely high level of client success as well as catalyst partner
              satisfaction. Your organization's success is our number one priority!
            </p>

            <p>By incorporating a client's hiring criteria into our proven recruiting process we are able to
              seamlessly integrate quality candidates into your business critical positions and projects. Our
              propensity to locate, screen and technically qualify candidates is the cornerstone of our success
              in the talent management industry.  The people we work with are referred to as, change agents,
              ‘A’ players, innovators, creators, game-changers, impact players, and leaders (just to name a
              few).   We are the best in our industry so you can focus on being the best in yours!  Call us today
              to ﬁnd out more about how we can provide you with access to the talent your organization is
              looking for.</p>
          </div>
          <div class="span4">
            <blockquote>
              <p>Talent Management Services</p>
              <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>1 on 1 Career Coaching</li>
                <li><i class="icon-li icon-ok"></i>Team Creation/Acquisition</li>
                <li><i class="icon-li icon-ok"></i>Executive Retained Search</li>
              </ul>
              <p>Business Consulting Services</p>
              <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>Strategic Planning</li>
                <li><i class="icon-li icon-ok"></i>Technology Strategy</li>
                <li><i class="icon-li icon-ok"></i>Project Management</li>
                <li><i class="icon-li icon-ok"></i>Software Development</li>
              </ul>
            </blockquote>
          </div>
        </div>
      </article>
    </section>
  </div>

</div>

