<% content_for :title do %>Talent Scouting<% end %>
<% content_for :description do %>Description<% end %>


<div class="full_page_photo" id="talent_image">
  <div class="container">
    <section class="call_to_action">
      <h3 class="animated bounceInDown">you can hire <strong>anyone</strong> from the <strong>crowd</strong></h3>
      <h4 class="animated bounceInUp">finding the <strong>one</strong> who <strong>will deliver</strong> is the real challenge!</h4>
    </section>
  </div>
</div>
<div id="subpage_main">
  <div class="container">
    <section id="about_us">
      <div class="hgroup">
        <h1>Talent Scouting Services</h1>
        <h2>Long before we  agree to work with an individual, they are <strong>rigorously evaluated</strong> and categorized with
          our time tested process. We are <strong>absolutely selective</strong> as to whom we chose to work with as we
          understand our client partners' <strong>time is limited</strong> and their <strong>needs specific</strong>.
        </h2>
        <ul class="breadcrumb pull-right">
          <li><%= link_to "Home", root_path %>
            <span class="divider">/</span></li>
          <li class="active">About us</li>
        </ul>
      </div>
      <article>
        <div class="row">
          <div class="span8">
            <p>How can we do this? It isn't
              easy, but we only work with a specific caliber of individual. Whom you ask? People that
              get it done! They are referred to by many names, 'change agent', 'A players', 'innovators',
              'creators', 'doers' and 'leaders'. The people we work with are the professional catalysts
              who can and will take a company from good to great. Whether it be a senior role IT role, a
              leadership position or any other strategic need within your company, you owe it to your
              organization to bring in the best talent, and that is who we specialize in identifying,
              working with and placing.
            </p>

            <p>proCATALYST has been able to differentiate itself through the utilization of a unique and
              proven hiring, screening, and development process. Because of this approach and our exclusive
              talent pool, we are able to ensure an extremely high level of client success as well as
              catalyst partner satisfaction. Your organization's success is our number one priority!</p>
            <p>By incorporating a client's hiring criteria into our proven recruiting process we are
              able to seamlessly integrate quality candidates into your business critical positions and
              projects. Our propensity to locate, screen and technically qualify candidates is the
              cornerstone of our success in the talent management industry.
            </p>
          </div>
          <div class="span4">
            <blockquote>
              <p>Talent Management Services</p>
              <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>1 on 1 Career Coaching</li>
                <li><i class="icon-li icon-ok"></i>Team Creation/Acquisition</li>
                <li><i class="icon-li icon-ok"></i>Executive Retained Search</li>
              </ul>
              <p>Business Consulting Services</p>
              <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>Strategic Planning</li>
                <li><i class="icon-li icon-ok"></i>Technology Strategy</li>
                <li><i class="icon-li icon-ok"></i>Project Management</li>
                <li><i class="icon-li icon-ok"></i>Software Development</li>
              </ul>
            </blockquote>
          </div>
        </div>
      </article>
    </section>
  </div>

</div>

