// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* overrides added by Alan */
.heading_small_text {
  font-size: 18px;
  line-height: 20px;
}
#index_slide1 {
  background-image: url("pictures/lightning1d.png");
}
#index_slide2 {
  background-image: url("pictures/rockplant6.png");
}
#index_slide3 {
  background-image: url("pictures/waterdrop.jpg");
}
#aboutus_image {
  background-image: url("pictures/denver.png");
}

.feature_teaser i {
  color: #0088CC;
}

#talent_image {
    background-image: url("pictures/crowd.jpg");
}

#catalyst_image {
    background-image: url("pictures/birds.jpg");
}

blockquote {
    border-right: 5px solid #EEEEEE;
}

.icon-6x {
    font-size: 6em;
}