<footer>
  <section id="twitter_feed_wrapper">
    <div class="container">
      <div class="row">
        <div class="span1 twitter_feed_icon"><i class="icon icon-quote-left"></i></div>
        <div class="span10">
          <blockquote>
            <h4>A man who has to be convinced to act before he acts is not a man of action. You must act
              as you breath.</h4>
            &mdash; george clemenceau
          </blockquote>
        </div>
        <div class="span1 twitter_feed_icon"><i class="icon icon-quote-right"></i></div>
      </div>
    </div>
  </section>
  <section id="footer_teasers_wrapper">
    <div class="container">
      <div class="row">
        <div class="span4 footer_teaser">
          <h3>About us</h3>

          <p>proCATALYST Group, LLC is an executive search and strategy consulting firm headquartered in
            Denver and with operations in major metropolitan areas. </p>

          <p><i class="icon-map-marker"></i> Denver, CO</p>

          <p><i class="icon-phone"></i> (720) 432-9505</p>

          <p><i class="icon-envelope"></i> info@procatalystgroup.com</p>
        </div>
        <div class="span4 footer_teaser">
          <h3>Upcoming Events</h3>
          <ul class="media-list">
            <li class="media">
              <a href="#" class="media-date">15<span>AUG</span></a>
              <h5 class="media-heading"><a href="http://www.meetup.com/bdnewtech/">New Tech Denver</a>
              </h5>

              <p>Meet some hot startups, network with tech geeks and learn the "Top Questions to Ask a
                Venture Capitalist in the First Five Minutes"...</p>
            </li>
            <li class="media">
              <a href="#" class="media-date">13<span>SEP</span></a>
              <h5 class="media-heading"><a href="http://www.startupdenver.com">Startup Weekend Denver</a>
              </h5>

              <p>No Talk, All Action. Launch a Startup in 54 hours. Come share ideas, form teams, and launch startups.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="copyright">
    <div class="container">
      <div class="row">
        <div class="span6"> Copyright &copy;2013 ProCatalyst Group, LLC. all rights reserved</div>
      </div>
    </div>
  </section>
</footer>
